.lang-switcher{
    position: fixed;
    top: .83em;
    right: .83em;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -48%, 0);
    width: max-content;
    &--logo{
        width: 100%;
        height: auto;
        pointer-events: none;
        @include is-max-tablet{
            width: 101vw;
        }
    }
    &--address{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -88%, 0);
        width: max-content;
        @include text-large;
    }
}

footer{
    position: fixed;
    left: 50%;
    bottom: .83em;
    transform: translateX(-50%);
    a{
        &:first-child{
            margin-right: 1.05em;
        }
    }
}

.visually-hidden{
    clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}