:root {
  --color-bg: black;
  --color-fg: white;
}

@font-face {
  font-family: "Items";
  src: url("assets/fonts/Items-CondensedLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: "Items";
}

a {
  color: var(--color-fg);
}
