/*
* Use scoped styles wherever possible.
* This file is meant for global styles, ideally only variables and html elements.
* */
:root {
  --color-bg: #111;
  --color-fg: white;
  --color-fg-dim: grey;
  --color-bg-dim: #333;
  --color-accent: red;
  --font-weight-heavy: 500;
  --font-size-large: 1.2rem;
  --font-size-small: 0.8rem;
  --transition: 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  --padding-base: 1rem;
  --padding-single: 0.4rem;
  --gap: 1rem;
  --content-max-width: 960px;
}
body {
  margin: 0;
  padding: var(--padding-base);
  font-family: system-ui, sans-serif;
  font-weight: 200;
  font-size: 16px;
  background: var(--color-bg);
  color: var(--color-fg);
}

a {
  color: var(--color-fg);
  /* text-decoration: none; */
}
a:hover {
  text-decoration: underline;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
