---
import Layout from "../layouts/Layout.astro";
import RepSearch from "../components/react/RepSearch";
import RepResults from "../components/react/RepResults";
---

<Layout title="MP Pressure">
  <div id="searchView" class="view">
    <RepSearch client:load />
  </div>
  <div id="resultsView" class="view">
    <h2 class="resultsHeader">Who to contact</h2>
    <RepResults client:load />
  </div>
</Layout>

<script>
  import { $searched } from "../scripts/state";

  const searchViewElement = document.querySelector("#searchView");
  const resultsViewElement = document.querySelector("#resultsView");

  $searched.subscribe((searched) => {
    if (searched) {
      searchViewElement.style.display = "none";
      resultsViewElement.style.display = "block";
    }
  });
</script>

<!-- The following script is added for testing purposes only. -->
<!-- <script src="../scripts/test_results.js"></script> -->

<style>
  .view {
    margin: 15vh auto;
  }
  #resultsView {
    display: none;
  }
</style>
