---
interface Props {}
---

<div class="container">No data collected.</div>

<style>
  .container {
    margin: var(--margin-base);
    color: var(--color-fg-dim);
    font-size: var(--font-size-small);
  }
</style>
