---
interface Props {}
---

<div class="container">
  <div class="home">
    <div class="title">🇵&#127480; MP Pressure</div>
    <div class="description">Tool for contacting you MPs</div>
  </div>
  <div class="lang">
    <a href=""> FR</a>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    margin-left: var(--margin-base);
    margin-right: var(--margin-base);
    margin-top: var(--margin-header-top);
    margin-bottom: var(--margin-header-btm);
  }
  .title {
  }
  .description {
    font-size: var(--font-size-small);
  }
  .lang {
  }
</style>
