---
interface Props {}
---

<div class="container">
  <div class="home">
    <div class="title">🇵&#127480; MP Pressure</div>
    <div class="description">Tool for contacting your MPs</div>
  </div>
  <div class="lang">
    <a href="">FR</a>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    /* padding-left: var(--margin-base); */
    /* padding-right: var(--margin-base); */
    /* padding-top: var(--margin-header-top); */
    /* padding-bottom: var(--margin-header-btm); */
  }

  .title {
    font-size: var(--font-size-large);
  }
  .description {
  }
  .lang {
  }
</style>
