---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class="form">
  <label class="instructions">{text}</label>
  <input type="text" value="Postal code" class="textinput" />
  <button class="submit" onclick="
  onSubmit()">Next</button>
</div>

<script is:inline>
async function onSubmit() {
  let textInputElement = document.querySelector(".textinput");
  let rawCode = textInputElement.value;
  let cleanPostalCode = sanitisePostalCode(rawCode);
  console.log(cleanPostalCode);
  let json = (
    await fetch(
      `https://represent.opennorth.ca/postcodes/${cleanPostalCode}/`,
      {
        mode: "cors",
        headers: {
          "Access-Control-Allow-Origin": "*",
        },
      },
    )
  ).json();
  console.log(json);
}

function sanitisePostalCode(rawCode) {
  let cleanPostalCode = rawCode.trim().replaceAll(" ", "").toUpperCase();
  return cleanPostalCode;
}
</script>

<style>
  .form {
    margin: auto;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
  }
  .textinput {
    background: var(--color-bg);
    border: solid 2px var(--color-fg);
    color: var(--color-fg);
    padding: var(--padding-single);
  }
</style>
