#resultsGrid {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}

.repCard {
  margin: none;
  padding: 1rem;
  background: var(--color-bg-dim);
  line-height: 1.3rem;
  flex-grow: 1;
  /* max-width: calc(var(--content-max-width) * 0.5 - var(--gap)); */
  /* flex-basis: calc(var(--content-max-width) * 0.5 - var(--gap)); */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.repHeader {
  line-height: 1.2rem;
}

.repContact {
  display: grid;
  grid-template-columns: 1rem auto;
}

.repName {
  font-size: 1.2rem;
  font-weight: 500;
}
.repPhone a {
  margin-right: 0.3rem;
}

.icon {
  display: inline;
  margin-right: 0.3rem;
}
